<div class="container">
  <div class="row section-row">
    <div class="col-md-8">
      <h1>Jorge J. Blue <br />
          <small class="lead">Full Stack Software Developer</small>
      </h1>
      <div class="urls">
          <a href="/repo">RecentProjects</a>
      </div>
      <hr>

    </div>

    <div class="col-md-4 text-right hidden-xs">
        <h4>
        <span class="octicon octicon-mail"></span>
        <a class="email" href="mailto:jblue5250@gmail.com">Contact Me</a>
        </h4>
            <h4><span class="octicon octicon-link"></span><a href="https://jblueweb.wordpress.com/" > Blog</a></h4>
            <h4><span class="octicon octicon-device-mobile"></span> (612)548-4037</h4>
          </div>
          <br><br>
        <div class="row" >
      <div class="col-md-3 ">
        <h3>
          <span class="label label-default">Technical</span>
        </h3>
      </div>
    </div>

    <div class="row section-row">
      <div class="col-md-2 col-md-offset-1 col-xs-offset-1">
          <p>Angular</p>
          <p>Javascript</p>
          <p>Jquery</p>
          <p>NodeJS</p>
      </div>
      <div class="col-md-2 col-xs-offset-1 ">
        <p>Express</p>
        <p>PostgreSQL</p>
        <p>Heroku</p>
        <p>NPM</p>
      </div>
      <div class="col-md-2 col-xs-offset-1 ">
        <p>MongoDB</p>
        <p>AJAX</p>
        <p>ASP .NET</p>
        <p>SQL</p>
      </div>
      <div class="col-md-2 col-xs-offset-1 ">
        <p>PowerShell</p>
        <p></p>
        <p></p>
      </div>
    </div>
<hr>

    <!--projects row-->
    <div class="row" >
      <div class="col-md-3 ">
        <h3>
          <span class="label label-default">Projects</span>
        </h3>
      </div>
    </div>

    <div class="row section-row">


        <div class="col-md-10 col-md-offset-1 col-xs-offset-1">

          <p>
            <a href="" ><strong>Currently working on a Full Stack Helpdesk web application</strong></a> <span> This will be completed at stages, I will post progress updates on my blog. </span>
          </p>
        </div>

      <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
          <ul>
            <li>
              <a href="https://github.com/Jblue96/abc" target="_blank">GitHub repo for Movie search with API, frontend is Bootstrap</a>
            </li>

          </ul>
        </span>
        </p>
      </div>

        <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
          <p>
            <a href="https://jblueweb.wordpress.com/" ><strong>Personal Blog</strong></a> <span>- Blog that I have started to have a place to document some of my technical interests. </span>
          </p>
        </div>
        <!-- <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
          <p>
            <a href="" ><strong></strong></a> <span></span>
          </p>
        </div> -->
        <br>

    </div>
    <hr>
    <!--Experience row-->
    <div class="row" >
      <div class="col-md-3 ">
        <h3>
          <span class="label label-default">Experience</span>
        </h3>
      </div>
    </div>

    <div class="row section-row">
    <div class="col-md-8 col-md-offset-1 col-xs-offset-1">
        <p>
            <strong>Prime Digital Academy Student</strong>, <a href="https://primeacademy.io/" target="_blank">Prime</a>, Bloomington, MN <strong>February 2017 - Present</strong>
            <br>
        <ul>
            <li>.</li>
        </ul>
        </p>
    </div>

      <div class="col-md-8 col-md-offset-1 col-xs-offset-1">
        <p>
          <strong>Service Desk Analyst</strong>, MN Bureau of Criminal Apprehension, St. Paul, MN <strong>October 2016 - March 2017</strong>
          <br>
          <ul>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
            <li>.</li>
          </ul>
        </p>
      </div>

      <div class="col-md-8 col-md-offset-1 col-xs-offset-1">
        <p>
          <strong>Service Desk Technician</strong>,Minneapolis Public Schools, Minneapolis, MN <strong>July 2014- October 2016</strong>
          <br>
          <ul>
        <li></li>
        <li></li>
          </ul>
        </p>
      </div>

      <div class="col-md-8 col-md-offset-1 col-xs-offset-1">
        <p>
          <strong>Data Systems Analyst</strong>, USMC, Camp Lejeune, NC <strong>January 2010 - January 2014</strong>
          <br>
          <ul>
              <li></li>
          </ul>
        </p>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
        <p>
          <strong>Quality Assurance</strong>, Remote Technologies Incorporated, Shakopee, MN <strong>July 2008 - May 2009</strong>
          <br>
          <ul>
            <li> </li>
            <li></li>
          </ul>
        </p>
      </div>


</div>



</div>
  </div>
</div>
